$base-font-family: 'Spectral', serif;
$base-font-size:   20px !default;
$base-font-weight: 400 !default;
$tiny-font-size:   $base-font-size * 0.7 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$larger-font-size: $base-font-size * 1.5 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;
$brand-color-variation: #2A42E2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
html {
  background-color: $background-color;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  z-index: -1;
  text-align: justify;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

ul {
    list-style: none;
    li:before {
      content: '» ';
      font-size: 1.2em;
      font-weight: bold;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

h3 {
  font-size: $larger-font-size;
  color: $grey-color-dark;
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

.App {
    min-height: 100vh;
}

.Header {
    display: flex;
    border-bottom: solid 1px $grey-color;
    margin: $spacing-unit / 2;    
    padding: $spacing-unit / 2;    
}

.Header-Container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.Header-Title {
    font-size: $larger-font-size;

    @include media-query($content-width) {
      font-size: $base-font-size;
    }
}

.Header-Nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    
    @include media-query($content-width) {
      font-size: $tiny-font-size;
    }
}

.Header-Item {
    margin: 0% 5% 0% 5%;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: $grey-color-dark;
  font-style: italic;
}

.content-wrapper {
    max-width: $content-width;
    margin: auto;
    
    @include media-query($content-width) {
      margin-left: $spacing-unit;
      margin-right: $spacing-unit;
      font-size: $tiny-font-size;
    }
}

.Page-Title {
  text-align: right;
}

.Project-Summary {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
}

.Entry-List {
  .Entry {
    &:not(:last-child) {
      margin-bottom: $spacing-unit * 3;
    }
  }
}

.Entry {
  .Entry-Heading {
    .Entry-Title {
      font-style: italic;
    }
  }
  .Entry-Content {
  }
  .Byline {
    text-align: right;
  }
}

.Read-More-Link {
  float: right;
  font-size: $larger-font-size;
  font-style: italic;
}

.Submit-Page {
    display: flex;
    justify-content: center;
    height: 100%;
}

.Submit-Form {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.Submit-Form-Label {
    display: flex;
    justify-content: space-between;
}

.Editable-Body {
  margin-bottom: 2em;
  max-width: 600px;
  min-height: $spacing-unit * 5;
  width: 100%;
}

.Agree-and-Submit {
  margin-top: $spacing-unit;
  margin-left: $spacing-unit * 4;
  
  input[type=submit] {
    float: right;
  }
}
